{% extends "base.html" %}
{% block body %}
<div class="contactbody">
    <div class="mainbox">
        <form class="subscribe" style="margin-top:7%" method="post">
            {% csrf_token %}
            <input type="email" class="w-50 h-100 bg-warning-subtle" name="mail" id="mail" placeholder="Enter your email">
            <button type="submit" style="background-color: #ff6505;" class="h-100 Fonty">Subscribe</button>
        </form>
        <div class="continfo">
            <h1 style="margin-top: 10px;">Why Subscribe to Our Newsletter?</h1>
            <p style="width: 70%;"> Sign up for Tech Savy's newsletter today at techsavy@gmail.com, and unlock a world of the latest electronics and exclusive offers right in your inbox! By subscribing, you'll gain access to special promotions, unbeatable deals, and updates on our newest products. Be the first to know about limited-time discounts, product launches, and exciting contests. Plus, our newsletter is your gateway to tech tips, product reviews, and insights to enhance your shopping experience. Don’t miss out on the chance to stay ahead in the tech game – join the Tech Savy newsletter community now!</p>
        </div>
    </div>
</div>
{% endblock body %}
